.footer-items{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
    background-color: green;
}

.footer-items ul{
    width: auto;
    display: inline;
    padding: 10px;
    font-weight: 10px;
}
.footer-items ul li a{
    color: black;
    font-weight: 10px;
}
.footer-heading{
    color: white;
}

@media screen and (max-width: 500px) {
    .footer-items{
        display: block;
        margin: auto;
        padding: 20px;
        background-color: green;
    }
}